<div class="row mb-3">
    <div class="col-lg-8">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle selected value="bold" (click)="changeMode('Estudio')">
                Estudio</mat-button-toggle>
            <mat-button-toggle (click)="changeMode('Examen')" value="italic">Examen</mat-button-toggle>
            <h3><span class="spanTotalExamen" *ngIf="modoQuiz=='Examen'">{{ aciertos }} / {{ totalDatos }}</span>
            </h3>
        </mat-button-toggle-group>
    </div>

    <div class="col-lg-4">
        <button *ngIf="adminMode" pButton type="button" class="p-button-success p-button-raised float-end"
            (click)="nuevaCategoria()">
            Añadir Categoría
        </button>
    </div>
</div>

<div class="row">
    <form [formGroup]="miFormulario">
        <input type="text" class="form-control" placeholder="Buscar" formControlName="buscar" (input)="filtro()" />
    </form>


    <div *ngFor="let dato of datos" class="my-3 col-xl-5 col-md-5 col-xs-12 colVocabulario">
        <div class="row">
            <div class="col-12 text-center">
                <div class="row">
                    <div class="col-4 my-2 mx-2 float-left">


                        <button *ngIf="adminMode" pButton type="button"
                            class="p-button-warning mx-3 my-2 p-button-raised" (click)="editarCategoria(dato.categoria)"
                            label="✏️"></button>


                        <button *ngIf="adminMode" (click)="eliminarCategoria(dato.categoria)" pButton type="button"
                            label="🗑️" class="p-button-danger my-2 p-button-raised"></button>
                    </div>
                    <div class="col-4 text-center">
                        <h3 *ngIf="adminMode" class="my-3"><strong>
                                <u>{{ dato.categoria }}</u>
                            </strong></h3>

                        <h3 *ngIf="!adminMode" class="my-2"><strong>
                                <u>{{ dato.categoria }}</u>
                            </strong></h3>
                    </div>
                    <div class="col-3 my-2">
                        <button *ngIf="adminMode" pButton type="button" label="➕"
                            class="p-button-primary p-button-raised my-2 float-end"
                            (click)="nuevoVocab(dato.categoria)"></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="zonaTabla">
            <table class="table">
                <thead class="thead-dark text-center">
                    <tr>
                        <th scope="col">Palabra / Frase</th>
                        <th scope="col">Significado</th>
                        <th scope="col" *ngIf="adminMode">Editar</th>
                        <th scope="col" *ngIf="adminMode">Eliminar</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr *ngFor="let v of dato.datos">
                        <th scope="row">{{ v.kana }}</th>
                        <td>
                            <input *ngIf="modoQuiz=='Estudio' && v.significado;else modoExamen" disabled type="text"
                                class="w-70 form-control text-center" value="{{ v.significado }}">

                            <ng-template #modoExamen>
                                <input *ngIf="v.significado" type="text" class="w-70 form-control text-center"
                                    (keyup)="checkRomaji(v.significado, $event)">
                            </ng-template>
                        </td>
                        <td *ngIf="adminMode && v.significado; else tdVacio1">
                            <button pButton type="button" label="✏️" (click)="editarVocab(v)"
                                class="p-button-warning p-button-raised"></button>
                        </td>
                        <ng-template #tdVacio1>
                            <td></td>
                        </ng-template>

                        <td *ngIf="adminMode && v.significado; else tdVacio2">
                            <button pButton type="button" label="🗑️" class="p-button-danger p-button-raised"
                                (click)="eliminarVocab( v.id, v.kana )"></button>
                        </td>


                        <ng-template #tdVacio2>
                            <td></td>
                        </ng-template>

                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>



<p-dialog position="top" [header]="textoModalCat" [(visible)]="display">
    <form [formGroup]="formularioCategoria">
        <label for="">Nombre</label>
        <input type="text" formControlName="nombre" class="form-control">
        <button pButton *ngIf="textoModalCat.split(' ')[0] === 'Editar'; else crearCategoria" type="button"
            [disabled]="formularioCategoria.invalid" label="Guardar"
            class="p-button-primary mt-2 float-end p-button-outlined" (click)="submitEditarCategoria()"></button>

        <ng-template #crearCategoria>
            <button pButton type="button" [disabled]="formularioCategoria.invalid" label="Guardar"
                class="p-button-primary mt-2 float-end p-button-outlined" (click)="submitCrearCategoria()"></button>
        </ng-template>
    </form>
</p-dialog>


<p-dialog position="top" [header]="textoModalVoc" [(visible)]="displayNuevoVoc">
    <form [formGroup]="formNuevoVoc">

        <label>Palabra en japonés</label>
        <input type="text" formControlName="kana" placeholder="ありがとう" class="form-control">

        <br>
        <label>Significado</label>
        <input type="text" formControlName="significado" placeholder="gracias" class="form-control">

        <br>
        <span *ngIf="textoModalVoc.split(' ')[0] == 'Editar';">
            <label>Categoría</label>
            <select class="form-control" formControlName="categoria">
                <option value="-1" hidden>-- Selecciona una categoría --</option>
                <option *ngFor="let dato of datos" [value]="dato.categoria">{{dato.categoria}}</option>
            </select>
        </span>

        <button *ngIf="textoModalVoc.split(' ')[0] == 'Añadir'; else btnEditar" pButton type="button"
            [disabled]="formNuevoVoc.invalid" label="Guardar" class="p-button-primary mt-2 float-end p-button-outlined"
            (click)="submitNuevoVoc()"></button>

        <ng-template #btnEditar>
            <button pButton type="button" [disabled]="formNuevoVoc.invalid" label="Guardar"
                class="p-button-primary mt-2 float-end p-button-outlined" (click)="submitEdVoc()"></button>
        </ng-template>

    </form>
</p-dialog>

<mat-form-field style="display: none">
    <mat-label>Message</mat-label>
    <input matInput #message>
</mat-form-field>