<mat-toolbar class="navBar">
    <div routerLink="/">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon aria-hidden="false" aria-label="Example home icon">book</mat-icon>
        </button>
        <button mat-button>
            <h5>Japanese app</h5>
        </button>
    </div>

    <div class="itemsMenu">
        <button *ngFor="let item of menuItems;" mat-button class="menuButton" [routerLink]="[ item.ruta ]"
            routerLinkActive="active">
            <h5>{{ item.nombre }}</h5>
        </button>


    </div>

    <div class="dropdownIcon btnMenuMovil">

        <button mat-button [matMenuTriggerFor]="beforeMenu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
            <button *ngFor="let item of menuItems;" mat-menu-item>
                {{ item.nombre }}
            </button>
        </mat-menu>
    </div>



</mat-toolbar>