<mat-toolbar class="navBar">
    <div routerLink="/">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon aria-hidden="false" aria-label="Example home icon">book</mat-icon>
        </button>
        <button mat-button>
            <h5>Japanese app</h5>
        </button>
    </div>

    <div class="itemsMenu">
        <button *ngFor="let item of menuItems;" mat-button class="menuButton" [routerLink]="[ item.ruta ]"
            routerLinkActive="active">

            <h5 *ngIf="item.nombre != 'Administración'; else administracion">{{ item.nombre }}</h5>


            <ng-template #administracion>
                <h5>
                    <mat-icon class="adminPc">account_circle</mat-icon>&nbsp;&nbsp;<span
                        *ngIf="!admin; else modoAdmin">{{ item.nombre
                        }}</span>
                    <ng-template #modoAdmin>
                        <span (click)="logout()">Cerrar Sesión</span>
                    </ng-template>

                </h5>
            </ng-template>

        </button>


    </div>

    <div class="dropdownIcon btnMenuMovil">

        <button mat-button [matMenuTriggerFor]="beforeMenu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
            <button *ngFor="let item of menuItems;" mat-menu-item [routerLink]="[ item.ruta ]"
                routerLinkActive="active">

                <span *ngIf="item.nombre != 'Administración'; else administracionMovil">{{ item.nombre }}</span>

                <ng-template #administracionMovil>
                    <mat-icon class="admin_movil">account_circle</mat-icon>{{ item.nombre }}
                </ng-template>


            </button>
        </mat-menu>
    </div>



</mat-toolbar>