<div class="container text-center">
    <h1><u>Administración</u></h1>
</div>

<div *ngIf="this.mainService.admin === 0" class="container container-login my-5">
    <div class="row">
        <div class="col-12">

            <form [formGroup]="miFormulario">
                <label for="">Usuario</label>
                <input type="text" formControlName="user" class="form-control">

                <span *ngIf="campoEsValido('user')" class="form-text text-danger">El usuario no puede estar
                    vacío</span>
                <br><br>
                <label for="">Contraseña</label>
                <input type="password" formControlName="password" class="form-control">



                <div class="row">
                    <div class="col-12 justify-content-between">


                        <button type="submit" (click)="login()" *ngIf="!loginStatus; else loginCorrecto" [disabled]="miFormulario.invalid"
                            class="float-end btn btn-primary mt-3">Iniciar Sesión</button>

                        <ng-template #loginCorrecto>
                            <button pButton type="button" class="float-end btn p-button-help p-button-outlined mt-3" routerLink="/vocabulario">Ir al
                                vocabulario</button>
                        </ng-template>


                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<app-vocabulario *ngIf="this.mainService.admin === 1"></app-vocabulario>