/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/purple-green.css';
html, body {
    width: 100%;
    height: 100%;
}

.itemsMenu {
    margin-left: 100px;
}

.menuButton {
    background-color: #272626;
    margin-left: 10px!important;
}

.dropdownIcon {
    display: none;
}

.quizs {
    overflow-y: auto!important;
}

.navBar {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 999;
}

.quiz-kanji {
    max-height: 500px;
    overflow-y: auto;
    border: 2px solid black;
    border-radius: 10px;
    overflow-x: hidden;
}

.quiz-hiragana {
    max-height: 220px;
    overflow-y: auto;
    border: 2px solid black;
    border-radius: 10px;
    overflow-x: hidden;
}

.quiz-katakana {
    max-height: 225px;
    overflow-y: auto;
    border: 2px solid black;
    border-radius: 10px;
    overflow-x: hidden;
}

.spanTotalExamen {
    margin-left: 20px;
}

.h1Kana {
    font-size: 4.5em;
}

.h1Romaji {
    background: #7a9ffa;
    font-size: 3em;
}

.h1RomajiKanji {
    background: #7a9ffa;
    font-size: 3em;
    height: 100%;
    padding-top: 20px;
}

.significadoKanji {
    font-size: 3em;
    background: #252724;
    padding: 10px;
    width: 100%;
}

/* media query for mobile devices */

@media (max-width: 1200px) {
    .itemsMenu {
        display: none;
    }
    .dropdownIcon {
        display: block;
    }
    .btnMenuMovil {
        margin-left: 70%!important;
    }
    .quiz-kanji {
        max-height: 500px;
    }
}

@media (max-width: 600px) {
    .btnMenuMovil {
        margin-left: 25%!important;
    }
    .quiz-kanji {
        width: 100%;
        margin-right: -1px;
    }
    .quiz-hiragana {
        margin-right: 1px;
        margin-left: 1px;
        max-height: 500px!important;
    }
    .quiz-katakana {
        margin-right: 1px;
        margin-left: 1px;
        max-height: 500px!important;
    }
    .colVocabulario {
        width: 90%;
    }
}